@import url(http://fonts.googleapis.com/css?family=Dosis:400,600,800);

div {
	border: solid black 2px;
	width: 100px;
	height: auto;
	text-align: center;
	margin: 10px;
	font-size: 18px;
	font-family: Dosis;
}

p {
	width: 150px;
	padding-left: 40px;
	margin-top: 4px;
	margin-bottom: 4px;
}

li {
	border-bottom: dashed black 1px;
	padding: 3px;
}

.item {
	padding: 7px;
	margin-right: 5px;
}

.drink {
	background-color: blue;
}

.app {
	background-color: green;
}

.entree {
	background-color: red;
}

.dessert {
	background-color: yellow;
}

.column {
	border: none;
	float: left;
	margin-right: 15px;
}

#price {
	text-align: left;
}

#check {
	width: 290px;
	height: 200px;
	overflow: auto;
	list-style-type: none;
	padding-left: 5px;
	margin-left: 10px;
	border: solid black 2px;
}